<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>Hola</servlet-name>
        <servlet-class>pw2.controllers.HolaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hola</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>